<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tutorial: Hello Dojo!</title>
    <style>
        @import "<contextRoot>/cea/widget/TwoWayForm/TwoWayForm.css";
    </style>
</head>

<body>
    <h1 id="saludo">chabon</h1>
    <h1 id="greeting">Hello</h1>

    <script>
        // Instead of using data-dojo-config, we're creating a dojoConfig
        // object *before* we load dojo.js; they're functionally identical,
        // it's just easier to read this approach with a larger configuration.
        var dojoConfig = {
            async: true,
            // This code registers the correct location of the "demo"
            // package so we can load Dojo from the CDN whilst still
            // being able to load local modules
            baseUrl: '.',
            packages: [
                'dojo',
                'dijit',
                'dojox',
                'js'
            ]
        };
    </script>
    <!-- load Dojo -->
    <script src="dojo/dojo.js"></script>

    <script type="text/javascript" src="<contextRoot>/ceadojo/dojo/dojo.js"></script>
    <script src="/src/main/resources/templates/js/lib/dojo/dojo/dojo.js"></script>
    <script>
        require([

            'dojo/dom',
            'dojo/fx',
            'dojo/domReady!',
            'js/modulo'
        ], function(dom, fx, modulo) {

            // The piece we had before...
            var greeting = dom.byId('greeting');

            greeting.innerHTML += ' from Dojo!';
            // ...but now, with an animation!
            fx.slideTo({
                node: greeting,
                top: 200,
                left: 300
            }).play();

            var saludo = dom.byId('saludo');

            saludo.innerHTML += ' capo!';

        })
    </script>


</body>

</html>