<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/resources/dojo.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojox/grid/enhanced/resources/claro/EnhancedGrid.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />


    <link rel="stylesheet" href="css/tienda.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <style type="text/css">
        /*Grid need a explicit width/height by default*/
        
        #grid {
            width: 55em;
            height: 350px;
        }
    </style>
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://kit.fontawesome.com/a062562745.js" crossorigin="anonymous"></script>
    <title>Pokedex Dojo</title>

    <!-- Dojo Config e import -->
    <script>
        var dojoConfig = {
            parseOnLoad: 1,
            async: true,
            packages: [{
                name: "js",
                location: location.pathname.replace(/\/[^/]*$/, "") + "/js",
            }, ],
        };
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"></script>



</head>

<body class="claro">

    <div id="appLayout" class="demoLayout" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design: 'headline'">
        <div class="centerPanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'" style="height: 150%;">
            <div class="panel">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 order-1 order-sm-1 " data-dojo-type="dijit/layout/TabContainer" data-dojo-props="style: { height: '100%', width: '400px' }">
                            <div class="col-sm-12" data-dojo-type="dijit/layout/ContentPane" title="buscador">

                                <div>
                                    <br/>
                                    <br/>
                                    <h4 style="background-color: rgba(250, 235, 215, 0.432);font-size:4vw;">Escriba el nombre del pokemon</h4>
                                    <input id="pokemonName" name="pokemonSelect" data-dojo-props="
                        value: '',
                        placeHolder: 'Select a Pokemon'" />

                                    <br/>
                                    <br/>
                                    <div>
                                        <h4><button id="botonRefresh" class="btn btn-danger">Click para hacer el request</button></h4>

                                    </div>
                                    <div class="grid">
                                        <div id="tabla"></div>
                                    </div>



                                </div>
                            </div>


                            <div class="col-sm-12" data-dojo-type="dijit/layout/ContentPane" title="tienda">

                                <div id="tiendaContainer" class="container">


                                </div>
                            </div>
                            <div id="tab" class="col-sm-12" data-dojo-type="dijit/layout/ContentPane" title="Poke tabla">
                                <div id="gridDiv" class="grid"></div>
                            </div>
                        </div>
                        <div class="col-sm-3">

                            <div id="musica">
                                <audio id="myAudio" ontimeupdate="onTimeUpdate()">
                <!-- <source src="audio.ogg" type="audio/ogg"> -->
                <source id="source-audio" src="" type="audio/mpeg"> Your browser does not support the audio element.
                </audio>

                                <div class="player-ctn" style="width: 100%; height: auto; background-color: black;">
                                    <div class="infos-ctn">
                                        <div class="timer">00:00</div>
                                        <div class="title"></div>
                                        <div class="duration">00:00</div>
                                    </div>
                                    <div id="myProgress">
                                        <div id="myBar"></div>
                                    </div>
                                    <div class="btn-ctn">
                                        <div class="btn-action first-btn" onclick="previous()">
                                            <div id="btn-faws-back">
                                                <i class='fas fa-step-backward'></i>
                                            </div>
                                        </div>
                                        <div class="btn-action" onclick="rewind()">
                                            <div id="btn-faws-rewind">
                                                <i class='fas fa-backward'></i>
                                            </div>
                                        </div>
                                        <div class="btn-action" onclick="toggleAudio()">
                                            <div id="btn-faws-play-pause">
                                                <i class='fas fa-play' id="icon-play"></i>
                                                <i class='fas fa-pause' id="icon-pause" style="display: none"></i>
                                            </div>
                                        </div>
                                        <div class="btn-play" onclick="forward()">
                                            <div id="btn-faws-forward">
                                                <i class='fas fa-forward'></i>
                                            </div>
                                        </div>
                                        <div class="btn-action" onclick="next()">
                                            <div id="btn-faws-next">
                                                <i class='fas fa-step-forward'></i>
                                            </div>
                                        </div>
                                        <div class="btn-mute" id="toggleMute" onclick="toggleMute()">
                                            <div id="btn-faws-volume">
                                                <i id="icon-vol-up" class='fas fa-volume-up'></i>
                                                <i id="icon-vol-mute" class='fas fa-volume-mute' style="display: none"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="playlist-ctn"></div>

                                </div>
                                <script src="js/app.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'" style="height: 25%;">
            <div class="top" style="width: 100%; height: 100%;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-3" style="background-color: black;">
                            <a href="https://dojotoolkit.org/"><img id="dojo" class="mediana" alt="dojo-toolkit" src='images/96_dojo-toolkit.be45374836.png' style="width: 50%;" /></a>
                        </div>
                        <div class="col-6">
                            <a href="https://pokeapi.co/"><img class="mediana" alt="Pokeapi" src='images/pokeapi_256.888baca4.png' /></a>
                        </div>
                        <div class="col-3" style="background-color: red;">
                            <a href="https://github.com/AlmadaBraian/dojoProyect"><img class="pequeña" alt="Pokeapi-repository" src='images/25231.png' /></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- Funciones Dojo -->
    <script>
        // Para hacer la solicitud a la API importar la funcion "dojo/request"
        require(["dojo/dom", "dojo/on", "dojo/mouse", "dojo/request", "dijit/layout/BorderContainer", "dijit/layout/TabContainer",
            "dijit/layout/ContentPane", "dojo/store/Memory", "dojo/json",
            "dojo/when", "dojo/Deferred", "dijit/form/FilteringSelect", "dojo/dom-construct", "dojo/html", 'dojo/fx', "dojo/dom-style", "js/tienda", "dojo/_base/fx", "dojo/domReady!"
        ], function(dom, on, mouse, request, BorderContainer, TabContainer, ContentPane, Memory, json, when, Deferred, FilteringSelect, domConstruct, html, coreFx, domStyle, tienda, fx) {


            let botonTienda = dom.byId('tienda');
            let botonBuscador = dom.byId("busc")
            let contenedor = dom.byId('buscador');
            let musica = dom.byId("musica");
            let contenedorTienda = dom.byId('tiendaContainer');
            let botonTest = dom.byId("botonTest");
            let tabla = dom.byId("tabla");
            let test = dom.byId("test");
            let pokeArray = [];

            //let test2 = "<option>" + url + "</option>";
            //options.innerHTML = test2;

            function irTienda() {

                domStyle.set(contenedor, "opacity", "1");
                var fadeArgs = {
                    node: contenedor,
                    duration: 500,
                };
                fx.fadeOut(fadeArgs).play();

                coreFx.slideTo({
                    node: contenedor,
                    left: "1500",
                }).play();

                setTimeout(function() {
                    domStyle.set("tiendaContainer", "opacity", "0");
                    var fadeArgs = {
                        node: "tiendaContainer",
                        duration: 4000,
                    };
                    fx.fadeIn(fadeArgs).play();

                }, 1000);
                coreFx.slideTo({
                    node: contenedor,
                    bottom: "1500",
                    right: "1500"
                }).play();
                domConstruct.place(musica, "rep");
                domStyle.set("rep", "opacity", "1");

                //domStyle.set("tiendaContainer", "opacity", "1");

                //setTimeout(function() {
                //  domConstruct.destroy(contenedor);
                //}, 2000);


            }



            function irBuscador() {
                domStyle.set(musica, "opacity", "1");
                setTimeout(function() {
                    domStyle.set("tiendaContainer", "opacity", "1");
                    var fadeArgs = {
                        node: "tiendaContainer",
                        duration: 1000,
                    };
                    fx.fadeOut(fadeArgs).play();

                }, 1000);
                location.reload();
                //domConstruct.place("rep", musica);
                //

                //domStyle.set("tiendaContainer", "opacity", "1");

                //setTimeout(function() {
                //  domConstruct.destroy(contenedor);
                //}, 2000);


            }


            function setOptions() {
                var deferred = new Deferred();
                let pokenombres = [];
                return request.get(`https://pokeapi.co/api/v2/pokemon/?limit=-1`, {
                        handleAs: "json"
                    })
                    .then(
                        function(response) {

                            listaPokemon = response.results;

                            //listaPokemon = response.results;
                            let cont = 1;
                            const nombres = listaPokemon.map((pokemon) => pokemon.name).forEach(element => {
                                pokenombres.push({

                                    name: element,
                                    value: element
                                });
                                cont++;
                            });
                            return pokenombres
                        })
                return pokenombres
            }

            when(setOptions(), function obtenerPokemones(pokenombres) {
                var pokeStore = new Memory({
                    data: pokenombres
                });
                var filteringSelect = new FilteringSelect({
                    id: "pokeStore",
                    name: "pokemons",
                    value: "",
                    store: pokeStore,
                    searchAttr: "name"
                }, "pokemonName");
            })

            //options.innerHTML = "<option>pokemon</option>"
            // let opcion = "<option>" + element + "</option>";
            //poke.innerHTML = opcion;})

            //dojo.destroy("dijit_form_FilteringSelect_0");


            //obtenerPokemones()
            // Funcion de evento click izquierda
            // params (target, event, function)

        });
    </script>
    <script src="js/tabla2.js"></script>
    <script src="js/tabla.js"></script>

</body>

</html>