<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tienda pokemon</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="js/lib/dojo/dijit/themes/claro/claro.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/tienda.css" />
    <!-- Dojo Config e import -->
    <script>
        var dojoConfig = {
            parseOnLoad: 1,
            async: true,
            packages: [{
                name: "js",
                location: location.pathname.replace(/\/[^/]*$/, "") + "/js",
            }, ],
        };
    </script>
    <script src="js/lib/dojo/dojo/dojo.js"></script>
    <script src="js/tienda.js"></script>
    <script>
        require(["dojo/parser", "dijit/layout/BorderContainer", "dijit/layout/TabContainer", "dijit/layout/AccordionContainer", "dijit/layout/ContentPane", "dijit/layout/AccordionPane"]);
    </script>

</head>

<body class="claro">
    <div data-dojo-type="dijit/layout/BorderContainer" style="width: 100%; height: 100%;">
        <div class="centerPanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
            <div class="panel">
                <div class="container">
                    <div class="row">
                        <div class="col-7" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="region:'center'" style=" width: 100%;">
                            <div class="container" data-dojo-type="dijit/layout/ContentPane" title="Remeras">
                                <div class="row"><br/>
                                    <br/>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <div id="izquierda" class="triangulo izquierda" style="position: absolute;  ">
                                            <div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-10">
                                        <main id="items" class="col-sm-12 row"></main>

                                    </div>
                                    <div class="col-auto">
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <br/>
                                        <div id="derecha" class="triangulo derecha" style="position: absolute; left: 100%;">
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div data-dojo-type="dijit/layout/ContentPane" title="tab #2">tab pane #2</div>
                            <div data-dojo-type="dijit/layout/ContentPane" title="tab #3">tab pane #3</div>
                        </div>

                        <div class="col-5">
                            <!-- Carrito -->
                            <aside class="col-sm-9">
                                <h2 style="text-align: center; background-color: rgba(247, 247, 247, 0.432);">Carrito</h2>
                                <!-- Elementos del carrito -->
                                <ul id="carrito" class="list-group"></ul>
                                <hr>
                                <!-- Precio total -->
                                <p class="text-left" style="background-color: aliceblue;">Total: <span id="total"></span>&dollar;</p>
                                <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
                                <button data-dojo-type="dijit/form/Button" type="button" onclick="myDialog.show();">Comprar carrito</button>
                                </button>
                            </aside>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'">
            <div class="top">
                <table class="table table-hover  table-responsive table-condensed 'border= 1px;'" style="border: 0cm; height: 100%;">
                    <tr>
                        <td style="border: 0cm; background-color: rgb(0, 4, 7); vertical-align: middle; ">
                            <a href="https://dojotoolkit.org/"><img id="dojo" class="mediana" alt="dojo-toolkit" src='images/96_dojo-toolkit.be45374836.png' /></a>
                        </td>
                        <td rowspan="2" style="border: 0cm; width: 40%;">
                            <h1 style="font-size:5vw;">Pokeapi dojo</h1>
                            <a href="https://pokeapi.co/"><img class="mediana" alt="Pokeapi" src='images/pokeapi_256.888baca4.png' /></a>
                        </td>
                        <td style="border: 0cm; background-color: rgb(253, 6, 6); vertical-align: middle; width: 20%;">
                            <a href="https://github.com/AlmadaBraian/dojoProyect"><img class="pequeña" alt="Pokeapi-repository" src='images/25231.png' /></a>
                        </td>
                    </tr>

                    <tr>
                        <td style="border: 0cm; background-color: rgb(253, 6, 6);"></td>
                        <td style="border: 0cm; background-color: rgb(14, 13, 13);"></td>
                    </tr>


                </table>
            </div>
        </div>
        <div data-dojo-type="dijit/Dialog" data-dojo-id="myDialog" title="Name and Address">
            <table class="dijitDialogPaneContentArea">
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input data-dojo-type="dijit/form/TextBox" name="name" id="name"></td>
                </tr>
                <tr>
                    <td><label for="address">Address:</label></td>
                    <td><input data-dojo-type="dijit/form/TextBox" name="address" id="address"></td>
                </tr>
            </table>

            <div class="dijitDialogPaneActionBar">
                <button data-dojo-type="dijit/form/Button" type="button" id="boton-pagar">Pagar</button>
                <button data-dojo-type="dijit/form/Button" type="button" data-dojo-props="onClick:function(){myDialog.hide();}" id="cancel">Cancel</button>
            </div>
        </div>
</body>

</html>