table {
    table-layout: fixed;
    width: 100%;
    border: 3px solid rgb(31, 25, 31);
}

th,
td {
    width: 30%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
}

caption {
    padding: 0.3em;
    color: #fff;
    background: #000;
}

th {
    background: #eee;
    white-space: nowrap;
}

.top {
    background-image: url(../images/twitch_banner_commission_by_kiichiii_dd4uacs-fullview.png);
    width: 100%;
    height: auto;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}

#leftCol {
    width: 20%;
    margin: 0;
    background-color: #000000;
}

#rightCol {
    width: 20%;
    background-image: url(../images/tumblr_static_pokemon.png);
    margin: 0;
    color: #eee;
}

.demoLayout .edgePanel {
    background-color: #d0e9fc;
}

.claro {
    background-color: rgba(0, 0, 0, 0);
}

#viewsChart {
    width: 550px;
    height: 550px;
}

#formItem label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}

img.mediana {
    width: 60%;
    height: auto;
    vertical-align: middle;
}

img.pequeña {
    width: 30%;
    height: auto;
    vertical-align: middle;
}

.edgePanel {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /* requerido para alineación horizontal */
}

.centerPanel {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 80%;
    /* requerido para alineación horizontal */
}

.container {
    background-color: rgba(0, 0, 0, 0);
}

.dijitTabContainerTopChildWrapper {
    background-color: #c4c411;
}

.leftPanel {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    /* requerido para alineación horizontal */
}

.rightPanel {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    /* requerido para alineación horizontal */
}

.topTable {
    width: 100%;
    border: 0px solid rgb(255, 255, 255);
}

.centerPanel {
    background-image: url(../images/thumb-1920-592678.jpg);
}

#myProgress {
    width: 210px;
    background-color: #080808;
    cursor: pointer;
    border-radius: 5px;
}

#myBar {
    width: 0%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
}

.logo {
    fill: red;
}

.btn-action {
    cursor: pointer;
    padding-top: 5px;
    width: 30px;
}

.btn-ctn,
.infos-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos-ctn {
    padding-top: 5px;
}

.btn-ctn>div {
    padding: 3px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.infos-ctn>div {
    margin-bottom: 4px;
    color: #ffffff;
}

.first-btn {
    margin-left: 3px;
}

.duration {
    margin-left: 5px;
}

.title {
    margin-left: 5px;
    width: 105px;
    text-align: center;
}

.player-ctn {
    border-radius: 7px;
    width: 210px;
    padding: 3px;
    background-color: #ff0000;
    margin: auto;
    margin-top: 50px;
}

.playlist-track-ctn {
    display: flex;
    background-color: #ff0000;
    margin-top: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.playlist-track-ctn:last-child {
    /*border: 1px solid #ffc266; */
}

.playlist-track-ctn>div {
    margin: 3px;
}

.playlist-info-track {
    width: 60%;
}

.playlist-info-track,
.playlist-duration {
    padding-top: 7px;
    padding-bottom: 7px;
    color: #ffffff;
    font-size: 14px;
    pointer-events: none;
}

.playlist-ctn {
    padding-bottom: 20px;
}

.active-track {
    background: #c05e5e;
    color: #fcfcfc !important;
    font-weight: bold;
}

.active-track>.playlist-info-track,
.active-track>.playlist-duration,
.active-track>.playlist-btn-play {
    color: #030303 !important;
}

.playlist-btn-play {
    pointer-events: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fas {
    color: #ffffff;
    font-size: 20px;
}

.dijitTabContainerTopChildWrapper {
    background-color: rgba(0, 0, 0, 0)
}

@import "{{baseUrl}}dojox/grid/resources/claroGrid.css";

/*Grid needs an explicit height by default*/

#gridDiv {
    height: 20em;
}