.triangulo {
    border-style: solid;
    border-width: 18px;
    width: 0;
    height: 0;
}

.triangulo>div {
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
    position: relative;
}

.triangulo.derecha {
    border-color: transparent transparent transparent black;
}

.triangulo.derecha>div {
    border-color: transparent transparent transparent white;
    top: -10px;
    left: -21px;
}

.triangulo.izquierda {
    border-color: transparent black transparent transparent;
}

.triangulo.izquierda>div {
    border-color: transparent white transparent transparent;
    top: -10px;
    left: 1px;
}

.triangulo.arriba {
    border-color: black transparent transparent transparent;
}

.triangulo.arriba>div {
    border-color: white transparent transparent transparent;
    top: -21px;
    left: -10px;
}

.triangulo.abajo {
    border-color: transparent transparent black transparent;
}

.triangulo.abajo>div {
    border-color: transparent transparent white transparent;
    top: 1px;
    left: -10px;
}