<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="/src/main/resources/templates/js/lib/dojo/dijit/themes/claro/claro.css" />
    <link rel="stylesheet" href="/src/main/resources/templates/css/main.css" />
    <link rel="stylesheet" href="/src/main/resources/templates/js/lib/dojo/dijit/themes/claro/claro.css" />
    <!-- Dojo Config e import -->
    <script>
        var dojoConfig = {
            parseOnLoad: 1,
            async: true,
            packages: [{
                name: "js",
                location: location.pathname.replace(/\/[^/]*$/, "") + "/js",
            }, ],
        };
    </script>
    <script src="/src/main/resources/templates/js/lib/dojo/dojo/dojo.js"></script>

    <title>Document</title>

</head>

<body class="claro">

    <div id="appLayout" class="demoLayout" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design: 'headline'">
        <div class="centerPanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
            <div class="panel">
                <h4>Escriba el nombre del pokemon</h4>
                <select id="pokemonName" name="stateSelect" data-dojo-type="dijit/form/ComboBox" data-dojo-props="
                value: '',
                placeHolder: 'Select a Pokemon'">
                
            </select>
            <div id="cosa"></div>

        </div>
        <div>
            <br/>
        </div>
        <div>
            <h4><button id="botonRefresh" class="btn btn-danger">Click para hacer el request</button></h4>
        </div>
        <div id="tabla"></div>
    </div>
    <div class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'">
        <div class="contenedor1">
            <h1>Pokedex Dojo</h1>
        </div>
    </div>
    <div id="leftCol" class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'left', splitter: true">
        <button id="botonTest" class="btn btn-danger">boton test</button>
        </br>
        <div id="test"></div>
        <select id="stateSelect" name="stateSelect" data-dojo-type="dijit/form/ComboBox" data-dojo-props="
            value: '',
            placeHolder: 'Select a State'">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>

    </select>
    </div>
    <div id="rightCol" class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'right', splitter: true">Sidebar content (right)</div>
</div>

</div>
    <!-- Funciones Dojo -->
    <script>
        // Para hacer la solicitud a la API importar la funcion "dojo/request"
        require(["dojo/dom", "dojo/on", "dojo/mouse", "dojo/request", "dojo/domReady!", "dijit/layout/BorderContainer", "dijit/layout/TabContainer",
            "dijit/layout/ContentPane", "dojo/store/Memory",
            "dijit/form/ComboBox", "dojo/parser", "dijit/form/FilteringSelect", "dijit/form/TextBox"
        ], function(dom, on, mouse, request, Select, Memory, ComboBox, FilteringSelect) {
            let options = document.getElementById("pokemonName");
            let botonRefresh = dom.byId("botonRefresh");
            let botonTest = dom.byId("botonTest");
            let tabla = dom.byId("tabla");
            let test = dom.byId("test");
            let pokeArray = [];

            const url = "https://pokeapi.co/api/v2/pokemon/";

            //let test2 = "<option>" + url + "</option>";
            //options.innerHTML = test2;


            function setOptions(pokeOption) {
                console.log(pokeOption)
                let select = document.querySelector("#stateSelect");
                const option = document.createElement('option');
                const valor = pokeOption;
                option.value = valor;
                option.text = valor;
                select.appendChild(option);
            }

            function obtenerPokemones() {
                let pokenombres = [];
                
                return new Promise(resolve => {
                request.get(`https://pokeapi.co/api/v2/pokemon/?limit=-1`, {
                    handleAs: "json"
                })
                .then(
                    function(response) {
                        listaPokemon = response.results;
                        let pokenombres = [];
                        //listaPokemon = response.results;
                        const nombres = listaPokemon.map((pokemon) => pokemon.name).forEach(element => {
                        pokenombres.push({name:element, value:element});
                        resolve(pokenombres);
                        });
                    })
                 // create store instance referencing data from states.json
                
                       



                         //.forEach(function(value, key) {
                            //setOptions(value)
                            //})
                            //respuesta.innerHTML = JSON.stringify(response);
                            //respuesta.innerHTML = response.name;

                        //        fetch(`https://pokeapi.co/api/v2/pokemon/?limit=-1`)
                        //          .then(res => res.json())
                        //        .then(res => {
                        //      let cont = 0;
                        //        listaPokemon = res.results;
                        //    const nombres = listaPokemon.map((pokemon) => pokemon.name).forEach(function(value, key) {
                        //      if (cont < 3) {
                        //        setOptions(value)
                        //      cont++;
                        //}
                        //})

                            //options.innerHTML = "<option>pokemon</option>"
                    });
                
                }

                //options.innerHTML = "<option>pokemon</option>"
                // let opcion = "<option>" + element + "</option>";
                //poke.innerHTML = opcion;})

            function searchPokemon() {
                var pokemonId = document.getElementById('pokemonName').value;

                var xmlhttp = new XMLHttpRequest();

                xmlhttp.onreadystatechange = function() {
                    var response,
                        types;
                    if (xmlhttp.readyState == XMLHttpRequest.DONE) {

                        /* Success request */
                        if (xmlhttp.status == 200) {
                            var html = "<table class=`table` border= `1px;><thead><tr><th scope=`col`>Nombre</th><th scope=`col`>Altura</th><th scope=`col`>Peso</th><th scope=`col`>Tipo</th><th scope=`col`>Batallas</th><th scope=`col`>Sprite</th></tr></thead>";
                            //response = JSON.parse(xmlhttp.responseText);
                            fetch(url + pokemonId)
                                .then(res => res.json())
                                .then(res => {
                                    const pokeObjeto = {
                                        id: res.id,
                                        Nombre: res.name,
                                        Tipo: res.types[0].type.name,
                                        Altura: Math.round(res.height * 10),
                                        Peso: Math.round(res.weight / 10),
                                        Batallas: res.game_indices.length,
                                        Frente: res.sprites.front_default,
                                        Espalda: res.sprites.back_default,
                                    };
                                    pokeArray.push(pokeObjeto);

                                    pokeArray.forEach(element => {
                                        html = html + "<tr>";
                                        html = html + "<th scope='row'>" + element.Nombre + "</th>";
                                        html = html + "<th scope='row'>" + element.Altura + "cm" + "</th>";
                                        html = html + "<th scope='row'>" + element.Peso + "kg" + "</th>";
                                        html = html + "<th scope='row'>" + element.Tipo + "</th>";
                                        html = html + "<th scope='row'>" + element.Batallas + "</th>";
                                        html = html + "<th scope='row'>" + `<img src="${element.Frente}" alt=""></th>`;
                                        html = html + "</tr>";
                                    });
                                    html = html + "</table>";
                                    tabla.innerHTML = html;

                                });
                        }
                        /* Errors */
                        else if (xmlhttp.status == 0) {
                            alert('Debes escribir el nombre de un pokemon');

                        } else if (xmlhttp.status == 400) {
                            alert('There was an error 400');

                        } else {

                            alert('something else other than 200 was returned');
                        }
                    }
                };

                xmlhttp.open('GET', url + pokemonId + '/', true);
                xmlhttp.send();
            }
            obtenerPokemones().then(result =>{
            //Solo tendras disponible la informacion de la promesa aqui dentro de then
            //console.log(result);
            }).catch(e => console.log(e));
            // Funcion de evento click izquierda
            // params (target, event, function)
            on(botonRefresh, "mousedown", function(event) {
                if (mouse.isLeft(event)) {
                    searchPokemon();

                }
            });
            on(botonTest, "mousedown", function(event) {
                if (mouse.isLeft(event)) {
                    test.innerHTML = "<label>mensaje</label>";
                }
            });
        });
    </script>
</body>

</html>