<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="/src/main/resources/templates/js/lib/dojo/dijit/themes/claro/claro.css" />

    <script>
        dojoConfig = {
            parseOnLoad: true
        }
    </script>
    <script src="/src/main/resources/templates/js/lib/dojo/dojo/dojo.js"></script>

    <script>
        require(["dojo/_base/array", "dojo/_base/lang"], function(baseArray, lang) {
            function reportSelection(node) {
                var items = this.selection.getSelected();
                var tmp = baseArray.map(items, function(item) {
                    return item.id;
                }, this);
                var msg = "You have selected row" + ((tmp.length > 1) ? "s " : " ");
                node.innerHTML = msg + tmp.join(", ");
            }
            // assuming our grid is stored in a variable called "myGrid":
            myGrid.on("SelectionChanged",
                lang.hitch(grid, reportSelection, document.getElementById("results")), true);
        })
    </script>
</head>

<body class="claro">
    <div data-dojo-type="dojo/data/ItemFileReadStore" data-dojo-props="data:storeData" data-dojo-id="foodStore"></div>
    <div data-dojo-type="dijit/form/Button" data-dojo-id="button">Click me for a list!</div>
    <br>
    <br>
    <span id="list">
</span>
</body>

</html>