<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Formulario dojo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/src/main/resources/templates/js/lib/dojo/dijit/themes/claro/claro.css" />
    <script>
        dojoConfig = {
            async: true
        };
    </script>
</head>

<body class="claro">
    <script src="/src/main/resources/templates/js/lib/dojo/dojo/dojo.js"></script>

    <div id="app">
        <div id="mens"></div>
    </div>


    <form data-dojo-type="dojox/form/Manager" id="formNode">

        <br/>
        <label>Email</label><br/>
        <input type="email" name="email" id="email" data-dojo-observer="showValues" data-dojo-type="dijit/form/TextBox" intermediateChanges="true">
        <br/>
        <label>password</label>
        <br/>
        <input type="password" name="password" id="password" data-dojo-observer="showValues" data-dojo-type="dijit/form/TextBox" intermediateChanges="true">
        <br/>

        <script type="dojo/method" data-dojo-event="showValues" data-dojo-args="value,name">
            //observador registra los cambios en todos los elementos en pantalla//
            if (name) {
                console.log("name = ", name, " value = ", value);
            }
        </script>
    </form>
    <script>
        import axios from "axios";

        const pokemon = "";
        const pokeArray = [];
        const options = [];

        const obtenerPokemon = async() => {
            try {
                const url = `https://pokeapi.co/api/v2/pokemon/?limit=-1`;
                const res = await axios.get(url);
                const listaPokemon = res.data.results;
                const nombres = listaPokemon.map((pokemon) => pokemon.name);

                setOptions(nombres);

            } catch (error) {
                console.log(error);
            }
        }

        const getPokemon = async() => {
            try {
                const url = `https://pokeapi.co/api/v2/pokemon/${pokemon}`;
                const res = await axios.get(url);


                const pokeObjeto = {
                    id: res.data.id,
                    Nombre: pokemon,
                    Tipo: res.data.types[0].type.name,
                    Altura: Math.round(res.data.height * 10),
                    Peso: Math.round(res.data.weight / 10),
                    Batallas: res.data.game_indices.length,
                    Frente: res.data.sprites.front_default,
                    Espalda: res.data.sprites.back_default,
                };
                //console.log(res.data.name)

                setPokemonArray([...pokeArray, pokeObjeto]);
            } catch (error) {
                console.log(error);
            }
        };
        const handleChange = (e) => {
            setPokemon(e.target.value.toLowerCase());
            //console.log(e.target.value.toLowerCase());  
        };

        const handleSubmit = (e) => {
            e.preventDefault();
            //console.log("hola");
            getPokemon();
        };
    </script>

    <!-- later on in your HTML document -->
    <script type="text/javascript">
        require([
            "dojo/dom",
            "dijit/form/Button",
            "dijit/layout/TabContainer",
            "dijit/layout/ContentPane",
            "dojo/domReady!"
        ], function(dom, Button, TabContainer, ContentPane) {
            var tc = new TabContainer({
                    style: {
                        height: "200px",
                        width: "400px"
                    },
                    id: "tc"
                }),

                atab = new ContentPane({
                    title: "A Tab",
                    closable: false,
                    id: "atab"
                }),
                myButton = new Button({
                    label: "Click Me!",
                    id: "myButton",
                    onclick: function() {
                        console.log("mensaje");
                        domConstruct.create("div", {
                            innerHTML: 'Hello Dojo Toolkit!!!'
                        }, 'mens', "first");
                    }
                });

            atab.addChild(myButton);
            tc.addChild(atab);
            tc.startup();
            tc.placeAt('app');



        });
    </script>
    <script type="dojo/on" data-dojo-event="click">

        alert("I was clicked!");

    </script>
</body>

</html>